# Q1: Program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [10]:
!pip install seleniumimport selenium
import pandas as pd
from selenium import webdriver
import warnings 
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [12]:
driver=webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32\chromedriver.exe")

In [13]:
driver.get("https://www.naukri.com/")

In [14]:
designation=driver.find_element(By.CLASS_NAME, 'suggestor-input')
designation.send_keys('Data Analyst')

In [16]:
location=driver.find_element(By.XPATH, "/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [18]:
search=driver.find_element(By.CLASS_NAME, "qsbSubmit")
search.click()

In [29]:
job_title=[]
job_loc=[]
comp_name=[]
exp_req=[]

title_tags=driver.find_elements(By.XPATH, '//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

loacation_tags=driver.find_elements(By.XPATH, '//span[@class="ellipsis fleft locWdth"]')
for i in loacation_tags[0:10]:
    loc=i.text
    job_loc.append(loc)

company_tags=driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    comp_name.append(company)
    
exp_tags=driver.find_elements(By.XPATH, '//span[@class="ellipsis fleft expwdth"]')
for i in exp_tags[0:10]:
    exp=i.text
    exp_req.append(exp)

In [30]:
print(len(job_title),len(job_loc), len(comp_name),len(exp_req))

10 10 10 10

In [31]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_loc,'Company Name':comp_name,'Experiance':exp_req})
df

,Title,Location,Company Name,Experiance
0,Data Engineer/Data Analyst,"Hybrid - Bangalore/Bengaluru, Kolkata, Hyderab...",Tech Mahindra,6-11 Yrs
1,Data Analyst,Bangalore/Bengaluru,Ingersoll Rand,3-6 Yrs
2,Data Analyst - EdTech,Bangalore/Bengaluru,Talentstack,2-6 Yrs
3,Data Analyst,Bangalore/Bengaluru,Unusual Hire,1-4 Yrs
4,Data Analyst - Contractual,Bangalore/Bengaluru,Search Advisers Services Guj,2-3 Yrs
5,Data Analyst - Contractual,Bangalore/Bengaluru,Search Advisers Services Guj,2-3 Yrs
6,Data Analyst - MySQL,Bangalore/Bengaluru,Talentstack,2-7 Yrs
7,ExcelHER-Data Analyst,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Volvo Financial Services,3-5 Yrs
8,Data Analyst,"Temp. WFH - Bangalore/Bengaluru, Hyderabad/Sec...",Allegis Group,4-9 Yrs
9,Data Analyst,Bangalore/Bengaluru,Clarivate,2-4 Yrs

# Q2: program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data

In [3]:
import pandas as pd
from selenium import webdriver
import warnings 
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

driver=webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32\chromedriver.exe")

driver.get("https://www.naukri.com/")

designation=driver.find_element(By.CLASS_NAME, 'suggestor-input')
designation.send_keys('Data Scientist')

location=driver.find_element(By.XPATH, "/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

search=driver.find_element(By.CLASS_NAME, "qsbSubmit")
search.click()

dsjob_title=[]
dsjob_loc=[]
dscomp_name=[]

dstitle_tags=driver.find_elements(By.XPATH, '//a[@class="title ellipsis"]')
for i in dstitle_tags[0:10]:
    dstitle=i.text
    dsjob_title.append(dstitle)
    
dsloacation_tags=driver.find_elements(By.XPATH, '//span[@class="ellipsis fleft locWdth"]')
for i in dsloacation_tags[0:10]:
    dsloc=i.text
    dsjob_loc.append(dsloc)

dscompany_tags=driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
for i in dscompany_tags[0:10]:
    dscompany=i.text
    dscomp_name.append(dscompany)

In [4]:
 print(len(dsjob_title),len(dsjob_loc), len(dscomp_name))

10 10 10

In [5]:
import pandas as pd
dsdf=pd.DataFrame({'Title':dsjob_title,'Location':dsjob_loc,'Company Name':dscomp_name})
dsdf

,Title,Location,Company Name
0,Data Science Professional - IBM SPSS Statistic...,"Bangalore/Bengaluru, Noida, Mumbai, Pune, Chennai",Hexaware Technologies
1,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
2,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
3,Senior data scientist,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",Fractal Analytics
4,Data Scientist_NLP,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",Fractal Analytics
5,Data Scientist,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",Fractal Analytics
6,Machine Learning (AI) Architect,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Persistent
7,Manager - Innovations Hub - Machine Learning,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",PwC
8,Data Scientist,Bangalore/Bengaluru,IBM
9,Data Scientist,Bangalore/Bengaluru,IBM

# Q3 : scrape data using the filters available on the webpage

In [45]:
import pandas as pd
from selenium import webdriver
import warnings 
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

driver=webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32\chromedriver.exe")

driver.get("https://www.naukri.com/")

designation=driver.find_element(By.CLASS_NAME, 'suggestor-input')
designation.send_keys('Data Scientist')

location=driver.find_element(By.XPATH, "/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Delhi/NCR')

search=driver.find_element(By.CLASS_NAME, "qsbSubmit")
search.click()

In [17]:
# driver.get("https://www.naukri.com/jobs-in-india?roleTypeFilterGid=169&ctcFilter=3to6&clusters=roleGid,salaryRange")

# sal=driver.find_element(By.CLASS_NAME, 'fleft naukicon naukicon-checked')
# sal.click()

#dsjob_title1=[]
#dsjob_loc1=[]
#dscomp_name1=[]

#dstitle_tags1=driver.find_elements(By.XPATH, '//a[@class="title ellipsis "]')
#for i in dstitle_tags1[0:10]:
 #   dstitle1=i.text
  #  dsjob_title1.append(dstitle1)
    
#dsloacation_tags1=driver.find_elements(By.XPATH, '//span[@class="ellipsis fleft locWdth"]')
#for i in dsloacation_tags1[0:10]:
 #   dsloc1=i.text
  #  dsjob_loc1.append(dsloc1)

#dscompany_tags1=driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
#for i in dscompany_tags1[0:10]:
 #   dscompany1=i.text
  #  dscomp_name1.append(dscompany1)

# Q4 Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:Brand,Product Description,Price

In [46]:
import pandas as pd
from selenium import webdriver
import warnings 
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

driver=webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32\chromedriver.exe")

driver.get("https://www.flipkart.com/")

lclose=driver.find_element(By.XPATH, '/html/body/div[2]/div/div/button')
lclose.click()


sglass=driver.find_element(By.CLASS_NAME, '_3704LK')
sglass.send_keys('sunglasses')

search=driver.find_element(By.CLASS_NAME, 'L0Z3Pu')
search.click()

driver.get("https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off")

prod_brand=[]
prod_discr=[]
prod_price=[]

#     brand_tags=driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
#     for i in brand_tags[0:10]:
#         brand=i.text
#         prod_brand.append(brand)

        
start=0
end=4

for page in range(start, end):
    
    brand_tags=driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
    for i in brand_tags[0:30]:
        prod_brand.append(i.text)
        
    discr_tags=driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
    for i in discr_tags[0:30]:
        prod_discr.append(i.text)

    price_tags=driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
    for i in price_tags[0:30]:
        prod_price.append(i.text)
        
    nxtbtn=driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]')
    nxtbtn.click()
    time.sleep(5)

In [47]:
import pandas as pd
flipdf=pd.DataFrame({'Brand': prod_brand,'Discription':prod_discr, 'Price':prod_price})
flipdf

            Brand                                        Discription Price
0          Dervin      UV Protection Wayfarer Sunglasses (Free Size)  ₹216
1    Singco India  UV Protection, Riding Glasses Retro Square, Re...  ₹479
2            SRPM             UV Protection Wayfarer Sunglasses (50)  ₹149
3       Elligator  UV Protection Cat-eye, Retro Square, Oval, Rou...  ₹149
4       Elligator             UV Protection Wayfarer Sunglasses (53)  ₹149
..            ...                                                ...   ...
115      Fastrack          UV Protection Rectangular Sunglasses (56)  ₹499
116         NuVew    UV Protection, Mirrored Aviator Sunglasses (57)  ₹129
117        Dervin             UV Protection Wayfarer Sunglasses (55)  ₹265
118         NuVew   UV Protection, Mirrored Wayfarer Sunglasses (57)   ₹99
119        PIRASO              Polarized Wrap-around Sunglasses (45)  ₹397

[120 rows x 3 columns]

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [24]:
import pandas as pd
from selenium import webdriver
import warnings 
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

driver=webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32\chromedriver.exe")

driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART")
apprating=[]
appreview=[]
rev_disc=[]
        
start=0
end=10

for page in range(start, end):
    
    ratings_tags=driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
    for i in ratings_tags:
        apprating.append(i.text)
        
    review_tags=driver.find_elements(By.XPATH, '//p[@class="_2-N8zT"]')
    for i in review_tags:
        appreview.append(i.text)

    rev_tags=driver.find_elements(By.XPATH, '//div[@class="t-ZTKy"]')
    for i in rev_tags:
        rev_disc.append(i.text)
    
    revbtn=driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]')
    revbtn.click()
    
    time.sleep(11)

In [25]:
import pandas as pd
apppdf=pd.DataFrame({'Rating': apprating,'Review':appreview, 'Detail Discription':rev_disc})
apppdf

,Rating,Review,Detail Discription
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
4,5,Highly recommended,It's my first time to use iOS phone and I am l...
...,...,...,...
95,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
96,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
97,4,Value-for-money,Just got this iphone 11\nAnd it is most powerf...
98,5,Highly recommended,"Amazing camera quality as expected, battery al..."
99,5,Perfect product!,It is just awesome mobile for this price from ...

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

In [35]:
import pandas as pd
from selenium import webdriver
import warnings 
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

driver=webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32\chromedriver.exe")

driver.get("https://www.flipkart.com/")

lclose=driver.find_element(By.XPATH, '/html/body/div[2]/div/div/button')
lclose.click()

sglass=driver.find_element(By.CLASS_NAME, '_3704LK')
sglass.send_keys('sneakers')

search=driver.find_element(By.CLASS_NAME, 'L0Z3Pu')
search.click()

driver.get("https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off")

sneak_brand=[]
sneak_discr=[]
sneak_price=[]

start=0
end=4

for page in range(start, end):
    
    sneak_tags=driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
    for i in sneak_tags[0:30]:
        sneak_brand.append(i.text)
        
    sneakdiscr_tags=driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
    for i in sneakdiscr_tags[0:30]:
        sneak_discr.append(i.text)

    sneakprice_tags=driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
    for i in sneakprice_tags[0:30]:
        sneak_price.append(i.text)
        
    sneakbtn=driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]')
    sneakbtn.click()
    time.sleep(5)

In [36]:
import pandas as pd
sneakerdf=pd.DataFrame({'Brand': sneak_brand,'Discription':sneak_discr, 'Price':sneak_price})
sneakerdf

              Brand                                        Discription   Price
0      Silver Kartz      UV Protection Wayfarer Sunglasses (Free Size)    ₹267
1             NuVew   UV Protection, Mirrored Wayfarer Sunglasses (58)    ₹108
2              SRPM             UV Protection Wayfarer Sunglasses (50)    ₹149
3         Elligator  UV Protection Cat-eye, Retro Square, Oval, Rou...    ₹149
4          Fastrack      UV Protection Wayfarer Sunglasses (Free Size)    ₹619
..              ...                                                ...     ...
115       METRONAUT   UV Protection Rectangular Sunglasses (Free Size)    ₹249
116  kingsunglasses  by Lenskart Polarized, UV Protection Aviator S...    ₹190
117   VINCENT CHASE              UV Protection Aviator Sunglasses (50)  ₹1,061
118          PIRASO  by Lenskart Polarized, UV Protection Wayfarer ...    ₹272
119   VINCENT CHASE          UV Protection Rectangular Sunglasses (56)    ₹729

[120 rows x 3 columns]

# Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7”

In [83]:
import pandas as pd
from selenium import webdriver
import warnings 
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

driver=webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32\chromedriver.exe")

driver.get("https://www.amazon.in/")

lapy=driver.find_element(By.XPATH, '/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
lapy.send_keys('Laptop')

srch=driver.find_element(By.XPATH, '/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
srch.click()

driver.get("https://www.amazon.in/s?k=Laptop&ref=nb_sb_noss")

chclick=driver.find_element(By.XPATH, '/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[6]/li[11]/span/a/div/label/i')
chclick.click()

lap_title=[]
lap_rating=[]
lap_price=[]

laptitle_tags=driver.find_elements(By.XPATH, '//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in laptitle_tags[0:10]:
        laptitle=i.text
        lap_title.append(laptitle)
        
laprate_tags=driver.find_elements(By.XPATH, '//span[@class="a-size-base"]')
for i in laprate_tags[0:10]:
        laprate=i.text
        lap_rating.append(laprate)

lapprice_tags=driver.find_elements(By.XPATH, '//span[@class="a-price-whole"]')
for i in lapprice_tags[0:10]:
        lapprice=i.text
        lap_price.append(lapprice)

In [84]:
 print(len(lap_title),len(lap_rating), len(lap_price))

10 10 10

In [85]:
import pandas as pd
lapdf=pd.DataFrame({'Title':lap_title,'Rating':lap_rating,'Price':lap_price})
lapdf

                                               Title Rating     Price
0  ASUS Vivobook Pro 16, Intel Core i9 11th Gen, ...    3.6    83,990
1  HP Omen 12th Gen Intel Core i9-12900HX 17.3 in...    3.3  2,96,000
2  ASUS Zenbook Pro 14 Duo OLED (2022) Dual Scree...    4.0  1,44,990
3  Dell G15-5520 Gaming Laptop, Intel i9-12900H, ...    4.1  1,38,990
4  ASUS ROG Zephyrus M16 (2023), Intel Core i9 13...    3.8  3,64,990
5  Acer Predator Helios 500 Gaming Laptop (11Th G...    5.0  4,38,383
6  Dell New Alienware x15 R2 Gaming Laptop, Intel...    3.2  3,56,600
7  Dell XPS 9720 Laptop, Intel i9-12900HK, 32GB D...    2.8  3,85,578
8  MSI Stealth 17 Studio, Intel 13th Gen. i9-1390...    3.0  3,99,990
9  ASUS ROG Strix Scar 15 (2022), 15.6" (39.62 cm...    3.5  2,29,990

# Q8: Write a python program to scrape data for Top 1000 Quotes of All Time from https://www.azquotes.com/

In [93]:
import pandas as pd
from selenium import webdriver
import warnings 
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

driver=webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32\chromedriver.exe")

driver.get(" https://www.azquotes.com/")

topqts=driver.find_element(By.XPATH, "/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a")
topqts.click()

quote=[]
author=[]
typeofquote=[]

quote_tags=driver.find_elements(By.XPATH, '//a[@class="title"]')
for i in quote_tags[0:1000]:
    qt=i.text
    quote.append(qt)

author_tags=driver.find_elements(By.XPATH, '//div[@class="author"]')
for i in author_tags[0:1000]:
    auth=i.text
    author.append(auth)

qttype_tags=driver.find_elements(By.XPATH, '//div[@class="tags"]')
for i in qttype_tags[0:1000]:
    tqt=i.text
    typeofquote.append(tqt)

In [94]:
print(len(quote),len(author), len(typeofquote))

100 100 100

In [95]:
import pandas as pd
qtpdf=pd.DataFrame({'Quote':quote,'Author':author,'Type of Quotes':typeofquote})
qtpdf

,Quote,Author,Type of Quotes
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
95,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
96,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
97,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
98,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
99,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

# Q9: Write a python program to display list of respected former Prime Ministers of India

In [84]:
import pandas as pd
from selenium import webdriver
import warnings 
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

driver=webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32\chromedriver.exe")

driver.get("https://www.jagranjosh.com/")

gk=driver.find_element(By.XPATH, "/html/body/div/div[1]/div/div[1]/div/div[5]/div/div[1]/header/div[3]/ul/li[9]/a")
gk.click()

driver.get("https://www.jagranjosh.com/general-knowledge?ref=nav_dd")

listofprime=driver.find_element(By.XPATH, "/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a")
listofprime.get_attribute("href")

driver.get("https://www.jagranjosh.com/general-knowledge/list-of-all-prime-ministers-of-india-1473165149-1")

name=[]
borndead=[]
term=[]
rem=[]

name_tags=driver.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[2]/td[2]/p/strong/a')
for i in name_tags[0:10]:
    nm=i.text
    name.append(nm)

brn_tags=driver.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[2]/td[3]')
for i in brn_tags[0:10]:
    born=i.text
    borndead.append(born)

term_tags=driver.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[2]/td[4]/p[1]/span')
for i in term_tags[0:10]:
    trm=i.text
    term.append(trm)
    
rm_tags=driver.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[2]/td[5]/p')
for i in rm_tags[0:10]:
    rm=i.text
    rem.append(rm)

In [83]:
print(len(name),len(borndead), len(term),len(rem))

0 0 0 0

# Q10: Write a python program to display list of 50 Most expensive cars in the world

In [109]:
import pandas as pd
from selenium import webdriver
import warnings 
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

driver=webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32\chromedriver.exe")

driver.get("https://www.motor1.com/")

topmtr=driver.find_element(By.XPATH, '//div[@class="m1-hamburger-button"]')
topmtr.click()

ftr=driver.find_element(By.XPATH, "/html/body/div[4]/div[1]/div[3]/ul/li[6]/ul/li[1]/a")
ftr.click()

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[4]/div[1]/div[3]/ul/li[6]/ul/li[1]/a"}
  (Session info: chrome=111.0.5563.148)
Stacktrace:
Backtrace:
	(No symbol) [0x004BDCE3]
	(No symbol) [0x004539D1]
	(No symbol) [0x00364DA8]
	(No symbol) [0x0039019F]
	(No symbol) [0x003903AB]
	(No symbol) [0x003BEE62]
	(No symbol) [0x003AAF14]
	(No symbol) [0x003BD57C]
	(No symbol) [0x003AACC6]
	(No symbol) [0x00386F68]
	(No symbol) [0x003880CD]
	GetHandleVerifier [0x00733832+2506274]
	GetHandleVerifier [0x00769794+2727300]
	GetHandleVerifier [0x0076E36C+2746716]
	GetHandleVerifier [0x00566690+617600]
	(No symbol) [0x0045C712]
	(No symbol) [0x00461FF8]
	(No symbol) [0x004620DB]
	(No symbol) [0x0046C63B]
	BaseThreadInitThunk [0x757600F9+25]
	RtlGetAppContainerNamedObjectPath [0x778E7BBE+286]
	RtlGetAppContainerNamedObjectPath [0x778E7B8E+238]