# Program to display all the header tags from wikipedia.org and make data frame

In [86]:
import  requests
from  bs4 import BeautifulSoup
import pandas as pd

url = requests.get('https://en.wikipedia.org/wiki/Main_Page')
soup = BeautifulSoup(url.content)
soup

header1 = []
for i in soup.find_all('h1', class_='central-textlogo-wrapper'):
    header1.append(i.text)
    header1

    
header2 = []
for i in soup.find_all('h2', class_='mp-h2'):
    header2.append(i.text) 
    
    print(len(header1),len(header2))
    
df=pd.DataFrame({'h2':header2})
df = df.replace('\n',' ', regex=True)
df

0 1
0 2
0 3
0 4
0 5
0 6
0 7
0 8

                              h2
0  From today's featured article
1               Did you know ...
2                    In the news
3                    On this day
4       Today's featured picture
5       Other areas of Wikipedia
6    Wikipedia's sister projects
7            Wikipedia languages

In [2]:
####Note : there are variance in number of h1,h2,h3,h4,h5,h6 contents so displayed only h2

# python program to display IMDB’s Top rated 50 movies’ data (i.e. name, rating, year of release) and make data frame

In [67]:
imdburl = requests.get('https://www.imdb.com/chart/top/')
imdbsoup = BeautifulSoup(imdburl.content)
imdbsoup

moviename= []
for i in imdbsoup.find_all('td', class_='titleColumn'):
    moviename.append(i.text)
    moviename
    
rating= []
for i in imdbsoup.find_all('td', class_='ratingColumn imdbRating'):
    rating.append(i.text)
    rating
    
yearofrelease= []
for i in imdbsoup.find_all('span', class_='secondaryInfo'):
    yearofrelease.append(i.text)
    yearofrelease
    
moviedf=pd.DataFrame({'Movie Name': moviename[0:50] , 'Rating': rating[0:50], 'Year of Release':yearofrelease[0:50] })
moviedf = moviedf.replace('\n',' ',regex=True)
moviedf

                                           Movie Name Rating Year of Release
0           1.       The Shawshank Redemption (1994)    9.2           (1994)
1                      2.       The Godfather (1972)    9.2           (1972)
2                    3.       The Dark Knight (2008)    9.0           (2008)
3              4.       The Godfather Part II (1974)    9.0           (1974)
4                       5.       12 Angry Men (1957)    9.0           (1957)
5                   6.       Schindler's List (1993)    8.9           (1993)
6          7.       The Lord of the Rings: The Ret...   8.9           (2003)
7                       8.       Pulp Fiction (1994)    8.8           (1994)
8          9.       The Lord of the Rings: The Fel...   8.8           (2001)
9          10.       Il buono, il brutto, il catti...   8.8           (1966)
10                     11.       Forrest Gump (1994)    8.8           (1994)
11                       12.       Fight Club (1999)    8.7           (1999)
12         13.       The Lord of the Rings: The Tw...   8.7           (2002)
13                        14.       Inception (2010)    8.7           (2010)
14          15.       The Empire Strikes Back (1980)    8.7           (1980)
15                       16.       The Matrix (1999)    8.7           (1999)
16                       17.       GoodFellas (1990)    8.7           (1990)
17         18.       One Flew Over the Cuckoo's Ne...   8.6           (1975)
18                            19.       Se7en (1995)    8.6           (1995)
19             20.       Shichinin no samurai (1954)    8.6           (1954)
20            21.       It's a Wonderful Life (1946)    8.6           (1946)
21         22.       The Silence of the Lambs (1991)    8.6           (1991)
22              23.       Saving Private Ryan (1998)    8.6           (1998)
23                   24.       Cidade de Deus (2002)    8.6           (2002)
24                     25.       Interstellar (2014)    8.6           (2014)
25                  26.       La vita è bella (1997)    8.6           (1997)
26                   27.       The Green Mile (1999)    8.6           (1999)
27                        28.       Star Wars (1977)    8.5           (1977)
28         29.       Terminator 2: Judgment Day (1...   8.5           (1991)
29               30.       Back to the Future (1985)    8.5           (1985)
30         31.       Sen to Chihiro no kamikakushi...   8.5           (2001)
31                      32.       The Pianist (2002)    8.5           (2002)
32                           33.       Psycho (1960)    8.5           (1960)
33                     34.       Gisaengchung (2019)    8.5           (2019)
34                             35.       Léon (1994)    8.5           (1994)
35                    36.       The Lion King (1994)    8.5           (1994)
36                        37.       Gladiator (2000)    8.5           (2000)
37               38.       American History X (1998)    8.5           (1998)
38                     39.       The Departed (2006)    8.5           (2006)
39                     40.       The Prestige (2006)    8.5           (2006)
40                         41.       Whiplash (2014)    8.5           (2014)
41               42.       The Usual Suspects (1995)    8.5           (1995)
42                       43.       Casablanca (1942)    8.5           (1942)
43                   44.       Hotaru no haka (1988)    8.5           (1988)
44                          45.       Seppuku (1962)    8.5           (1962)
45                 46.       The Intouchables (2011)    8.5           (2011)
46                     47.       Modern Times (1936)    8.4           (1936)
47         48.       Once Upon a Time in the West ...   8.4           (1968)
48            49.       Nuovo Cinema Paradiso (1988)    8.4           (1988)
49                      50.       Rear Window (1954)    8.4           (1954)

# python program to display list of respected former presidents of India(i.e. Name , Term ofoffice) from https://presidentofindia.nic.in/former-presidents.htm and make data frame

In [83]:
poiurl = requests.get('https://presidentofindia.nic.in/former-presidents.htm')
poisoup = BeautifulSoup(poiurl.content)
poisoup

Presidentname= []
for i in poisoup.find_all('div', class_='presidentListing'):
    Presidentname.append(i.text)
    Presidentname
    
termofoffice= []
for i in poisoup.find_all('span', class_='terms'):
    termofoffice.append(i.text)
    termofoffice
    
poidf=pd.DataFrame({'President Name': Presidentname, 'Term of Office': termofoffice})
poidf = poidf.replace('\n',' ', regex=True) 
poidf

                                       President Name   Term of Office
0    Shri Ram Nath Kovind (birth - 1945) Term of O...  Term of Office:
1    Shri Pranab Mukherjee (1935-2020) Term of Off...  Term of Office:
2    Smt Pratibha Devisingh Patil (birth - 1934) T...  Term of Office:
3    DR. A.P.J. Abdul Kalam (1931-2015) Term of Of...  Term of Office:
4    Shri K. R. Narayanan (1920 - 2005) Term of Of...  Term of Office:
5    Dr Shankar Dayal Sharma (1918-1999) Term of O...  Term of Office:
6    Shri R Venkataraman (1910-2009) Term of Offic...  Term of Office:
7    Giani Zail Singh (1916-1994) Term of Office: ...  Term of Office:
8    Shri Neelam Sanjiva Reddy (1913-1996) Term of...  Term of Office:
9    Dr. Fakhruddin Ali Ahmed (1905-1977) Term of ...  Term of Office:
10   Shri Varahagiri Venkata Giri (1894-1980) Term...  Term of Office:
11   Dr. Zakir Husain (1897-1969) Term of Office: ...  Term of Office:
12   Dr. Sarvepalli Radhakrishnan (1888-1975) Term...  Term of Office:
13   Dr. Rajendra Prasad (1884-1963)  Term of Offi...  Term of Office:

# python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world and make data frame

In [6]:
import  requests
from  bs4 import BeautifulSoup
import pandas as pd

newsurl = requests.get('https://www.cnbc.com/world/?region=world')
nsoup = BeautifulSoup(newsurl.content)
nsoup

news = []
for i in nsoup.find_all('a', class_='LatestNews-headline'):
    news.append(i.text.split('|')[0])
    news

newstime = []
for i in nsoup.find_all('time', class_='LatestNews-timestamp'):
    newstime.append(i.text.split('|')[0])
    newstime
    
newslink = []
for i in nsoup.find_all('a', href=True,class_='LatestNews-headline'):
    newslink.append(i['href'])
    newslink
    

newsdf=pd.DataFrame({'Headline': news, 'Time':newstime, 'Newslink':newslink})
newsdf = newsdf.replace('\n',' ', regex=True) 
newsdf

,Headline,Time,Newslink
0,Pet stocks are a hit or miss as consumer spend...,11 Hours Ago,https://www.cnbc.com/2023/03/31/pet-stocks-are...
1,Pro Picks: Watch all of Friday's big stock cal...,14 Hours Ago,https://www.cnbc.com/2023/03/31/pro-picks-watc...
2,Here are our 4 best stocks — and 4 worst stock...,14 Hours Ago,https://www.cnbc.com/2023/03/31/first-quarter-...
3,Judge allows Dominion's $1.6 billion defamatio...,15 Hours Ago,https://www.cnbc.com/2023/03/31/fox-motions-re...
4,"Google founder, former Disney exec to get subp...",15 Hours Ago,https://www.cnbc.com/2023/03/31/google-founder...
5,Millions will start losing Medicaid coverage,15 Hours Ago,https://www.cnbc.com/2023/03/31/medicaid-milli...
6,Trump's campaign uses Facebook to fundraise of...,15 Hours Ago,https://www.cnbc.com/2023/03/31/trump-indictme...
7,Here's how Virgin Orbit fell apart,16 Hours Ago,https://www.cnbc.com/2023/03/31/virgin-orbit-w...
8,What to watch in the markets in the week ahead,16 Hours Ago,https://www.cnbc.com/2023/03/31/stocks-could-b...
9,How women are re-defining ambition to build ha...,16 Hours Ago,https://www.cnbc.com/2023/03/31/how-women-are-...
10,These stocks could benefit from lower tax refu...,17 Hours Ago,https://www.cnbc.com/2023/03/31/tax-refunds-ar...
11,U.S. appeals decision striking down free Obama...,17 Hours Ago,https://www.cnbc.com/2023/03/31/obamacare-bide...
12,The top 10 states with the longest life expect...,17 Hours Ago,https://www.cnbc.com/2023/03/31/top-10-states-...
13,This week's top S&P 500 stocks include First R...,17 Hours Ago,https://www.cnbc.com/2023/03/31/weeks-top-sp-5...
14,‘Rust’ assistant director pleads guilty to gun...,17 Hours Ago,https://www.cnbc.com/2023/03/31/rust-assistant...
15,"Investors 'are pretty afraid,' financial psych...",18 Hours Ago,https://www.cnbc.com/2023/03/31/financial-psyc...
16,Bitcoin posts its third straight positive mont...,18 Hours Ago,https://www.cnbc.com/2023/03/31/bitcoin-heads-...
17,Paying more and earning less: How inflation di...,18 Hours Ago,https://www.cnbc.com/2023/03/31/paying-more-an...
18,California to require half of all heavy trucks...,18 Hours Ago,https://www.cnbc.com/2023/03/31/california-req...
19,Tesla issues recall on Semi over defective bra...,18 Hours Ago,https://www.cnbc.com/2023/03/31/tesla-issues-r...
20,Investor Dan Niles likes these tech stocks hea...,18 Hours Ago,https://www.cnbc.com/2023/03/31/investor-dan-n...
21,Vince McMahon locks in two-year contract as WW...,18 Hours Ago,https://www.cnbc.com/2023/03/31/vince-mcmahon-...
22,"As the cost of living skyrockets, money is the...",18 Hours Ago,https://www.cnbc.com/2023/03/31/financial-depe...
23,April is usually the best month for the Dow. H...,19 Hours Ago,https://www.cnbc.com/2023/03/31/april-is-usual...
24,6 steps to teach your kids how to say 'I'm sorry',19 Hours Ago,https://www.cnbc.com/2023/03/31/use-these-6-st...
25,Wall Street looks to finish Q1 higher as our t...,19 Hours Ago,https://www.cnbc.com/2023/03/31/wall-street-lo...
26,Stocks making the biggest moves midday: Bed Ba...,19 Hours Ago,https://www.cnbc.com/2023/03/31/stocks-making-...
27,Carl Icahn blasts Illumina for CEO's pay bump ...,19 Hours Ago,https://www.cnbc.com/2023/03/31/carl-icahn-bla...
28,Social Security trust funds depletion date mov...,19 Hours Ago,https://www.cnbc.com/2023/03/31/social-securit...
29,Biden Interior proposes leasing public lands f...,20 Hours Ago,https://www.cnbc.com/2023/03/31/biden-interior...

# python program to scrape the details of most downloaded articles from AI in last 90 days.https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles

In [20]:
import  requests
from  bs4 import BeautifulSoup
import pandas as pd

paperurl = requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
papersoup = BeautifulSoup(paperurl.content)
papersoup

ptitle= []
for i in papersoup.find_all('h2',class_='sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg'):
    ptitle.append(i.text.split('|')[0])
    ptitle

auth= []
for i in papersoup.find_all('span', class_='sc-1w3fpd7-0 dnCnAO'):
    auth.append(i.text.split('|')[0])
    auth 
    
pdate = []
for i in papersoup.find_all('span',class_='sc-1thf9ly-2 dvggWt'):
    pdate.append(i.text.split('|')[0])
    pdate
    
plink = []
for i in papersoup.find_all('a', href=True, class_='sc-5smygv-0 fIXTHm'):
    plink.append(i['href'])
    plink
    
jdf=pd.DataFrame({'Paper Title': ptitle, 'Author':auth, 'Paper Date': pdate,'Paper Link':plink})
jdf = jdf.replace('\n',' ', regex=True) 
jdf

,Paper Title,Author,Paper Date,Paper Link
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

# python program to scrape mentioned details from dineout.co.in and make data frame

In [58]:
import  requests
from  bs4 import BeautifulSoup
import pandas as pd

dineurl = requests.get('https://www.dineout.co.in/bangalore-restaurants')
dinesoup = BeautifulSoup(dineurl.content)
dinesoup

rest= []
for i in dinesoup.find_all('a', class_='restnt-name ellipsis'):
    rest.append(i.text)
    rest

cuis= []
for i in dinesoup.find_all('span', class_='double-line-ellipsis'):
    cuis.append(i.text.split('|')[1])
    cuis
    
loc= []
for i in dinesoup.find_all('div', class_='restnt-loc ellipsis'):
    loc.append(i.text.split('|')[0])
    loc
    
restrate= []
for i in dinesoup.find_all('span', class_='double-line-ellipsis'):
    restrate.append(i.text.split('|')[0])
    restrate
    
imgurl= []
for i in dinesoup.find_all('img', class_='no-img'):
    imgurl.append(i.get('data-src'))
    imgurl   
    
dinedf=pd.DataFrame({'Restaurant name':rest,'Cuisine':cuis,'Location':loc,'Rate':restrate, 'Image':imgurl })
dinedf = dinedf.replace('\n',' ', regex=True)
dinedf

,Restaurant name,Cuisine,Location,Rate,Image
0,The Bier Library Brewery & Kitchen,"Continental, Finger Food, North Indian","Koramangala, South Bangalore","₹ 1,900 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
1,Uru Brewpark,"North Indian, Italian, Continental, Asian","JP Nagar, South Bangalore","₹ 2,000 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
2,Hard Rock Cafe,"Continental, American, Finger Food","St. Marks Road, Central Bangalore","₹ 2,500 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
3,RCB Bar & Cafe,"Continental, Finger Food, Asian, North Indian","Church Street, Central Bangalore","₹ 2,500 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
4,Badmaash,"North Indian, Chettinad, Andhra, Biryani","UB City,Vittal Mallya Road, Central Bangalore","₹ 1,500 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
5,The Bangalore Cafe,"Continental, North Indian, Fast Food","Shanti Nagar, Central Bangalore",₹ 800 for 2 (approx),https://im1.dineout.co.in/images/uploads/resta...
6,Biergarten,"Continental, European","Koramangala, South Bangalore","₹ 2,400 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
7,Toscano,Italian,"UB City,Vittal Mallya Road, Central Bangalore","₹ 1,600 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
8,Salt - Indian Restaurant Bar & Grill,"North Indian, Mughlai, South Indian","UB City, Central Bangalore","₹ 1,200 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
9,Candles Brewhouse,"North Indian, South Indian, Chinese, Continen...","Hebbal, North Bangalore","₹ 2,500 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
10,Spice Terrace,"North Indian, Mughlai","JW Marriott Hotel,Vittal Mallya Road, Central ...","₹ 3,900 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
11,Cafe Azzure,"Continental, Italian, Desserts, Bengali","MG Road, Central Bangalore","₹ 1,200 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
12,JW Kitchen,"North Indian, Continental","JW Marriott Hotel,Vittal Mallya Road, Central ...","₹ 2,200 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
13,Tushita,"Continental, Asian, Fusion","Ashok Nagar, Central Bangalore","₹ 2,000 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
14,Hammered,"Finger Food, Italian, North Indian","Cunningham Road, Central Bangalore","₹ 2,000 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
15,Sanchez,Mexican,"UB City,Vittal Mallya Road, Central Bangalore","₹ 1,800 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
16,Farzi Cafe,Modern Indian,"UB City,Vittal Mallya Road, Central Bangalore","₹ 1,600 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
17,Cafe Noir,"Continental, French","UB City,Vittal Mallya Road, Central Bangalore","₹ 1,700 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
18,The Biere Club,Finger Food,"Vittal Mallya Road, Central Bangalore","₹ 2,000 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
19,The London Curry House,"North Indian, Chinese, Italian","The Royal Senate,Race Course Road, West Bangalore","₹ 1,700 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
20,Raahi,Fusion,"St. Marks Road, Central Bangalore","₹ 1,900 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...

# program to scrape cricket rankings from icc-cricket.com

In [84]:
import  requests
from  bs4 import BeautifulSoup
import pandas as pd

iccurl= requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
iccsoup= BeautifulSoup(iccurl.content)
iccsoup

topteammen= []
for i in iccsoup.find_all('span', class_='u-hide-phablet'):
    topteammen.append(i.text.split('|')[0])
    topteammen
    
    
iccdf=pd.DataFrame({'Team name': topteammen})
iccdf = iccdf.replace('\n',' ', regex=True) 
iccdf

           Team name
0          Australia
1              India
2        New Zealand
3            England
4           Pakistan
5       South Africa
6         Bangladesh
7          Sri Lanka
8        West Indies
9        Afghanistan
10           Ireland
11          Scotland
12          Zimbabwe
13       Netherlands
14             Nepal
15              Oman
16           Namibia
17     United States
18               UAE
19  Papua New Guinea